@import url("https://fonts.googleapis.com/css2?family=Roboto");

$breakpoint1: 576px;
$text-color: navy;
$text-font-family: Roboto, Arial, Helvetica, sans-serif;
$headline-font-family: Palatino, Georgia, Times, "Times New Roman", serif;
$monospace-font-family: Courier, "Courier new", monospace;
