@use "custom" as var;

#about-me {
  color: var.$text-color;
  header {
    h1 {
      text-align: center;
      margin-bottom: 2em;
      margin-top: 5rem; // remove line when we have an image to display.
      text-decoration: none;
      font-weight: 700;
      background: radial-gradient(
        ellipse closest-side,
        red 0.2rem,
        yellow 0.2rem,
        royalblue 5% 30%,
        transparent
      );
    }
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 1;
    font-size: 0.8em;
    text-indent: 0em;
  }
  .columns {
    padding: 0px 0.5rem;
    section {
      padding: 0px 3rem;
      h5,
      h6 {
        font-weight: 700;
        font-family: var.$text-font-family;
      }
      h5 {
        margin-bottom: 1.5em;
      }
      h6 {
        margin-top: 1em;
      }
      p {
        margin-bottom: 1em;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            color: lighten(var.$text-color, 40%);
          }
        }
      }
      margin-bottom: 2em;
    }
  }
}

@media screen and (max-width: var.$breakpoint-nav) {
  header {
    .helo-section-wrapper {
      display: none;
    }
  }
  // .columns {
  //   section {
  //     p {
  //       word-wrap: break-word;
  //     }
  //   }
  // }
}
