@use "~bootstrap/scss/bootstrap";
@use "./reset.scss";
@use "custom" as var;
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Roboto");
$h-sizes: (1, 2, 3, 4, 5, 6);

@mixin set-h-tags($int) {
  h#{$int} {
    font-family: var.$headline-font-family;
    color: var.$headline-color;
    @if ($int < 3) {
      $tmp: calc(3.8 - (0.8 * $int));
      font-size: #{$tmp}rem;
    }
    @if ($int == 3) {
      font-size: 1.8rem;
    }
    @if ($int == 4) {
      font-size: 1.5rem;
    }
    @if ($int == 5) {
      font-size: 1.2rem;
    }
    @if ($int == 6) {
      font-size: 1rem;
      font-style: italic;
    }
  }
}

a {
  color: var.$text-color;
  transition: all var.$link-transition-time;
  &:hover {
    color: color.scale(var.$text-color, $blue: 50%, $green: 20%, $red: -30%);
  }
}

aside {
  width: clamp(40px, 15%, 400px);
  background-color: transparent;
}

body {
  background-color: aliceblue;
  font-family: var.$text-font-family;
  color: var.$text-color;
  font-size: var.$font-size-base;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@each $x in $h-sizes {
  @include set-h-tags($x);
}

main {
  box-sizing: border-box;
  width: clamp(240px, 100%, 960px);
  padding: 0px;
  box-shadow: 0 0 8px lightgray;
  border-radius: 18px;
  background-color: transparent;
  margin: 0 0.5rem 1rem 0.5rem;
  .card {
    background: transparent;
    padding: 0.5rem 1rem;
    border: 0px;
    box-shadow: 0 0 3px 4px LightSteelBlue;
    transition: background-color var.$bg-transition-time;
    &:hover {
      background-color: var.$bg-color-hover-card;
    }
    h5 {
      padding: 0.5rem 1rem;
    }
    p {
      padding: 0.5rem 1rem;
      margin: 0px;
    }
  }
}

.page-content-wrapper {
  padding-bottom: 60px;
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*important to footer placement*/
  position: relative;
  top: 0px;
  min-height: 100vh;
}

@media screen and (max-width: var.$breakpoint-nav) {
  .page-content-wrapper {
    width: 100%;
    .content-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      aside {
        min-height: 50px;
        width: 100%;
      }
    }
  }
}
