@use "custom" as var;
@use "sass:color";
$borders: 1px solid navy;
$bg-content: rgba(240, 248, 255, 0.9);
$homeSections: (news, advert, projects, docs, links);

.home-wrapper {
  h1 {
    // margin: 1rem 0px 0px 2rem;
    margin: 0px;
    padding: 1rem 0px 0px 2rem;
    width: 100%;
  }
  // box-shadow: 0px 0px 10px navy;

  .home-content-wrapper {
    display: grid;
    grid-template-areas:
      "news news news news ..."
      "... advert advert advert advert"
      "projects projects ... docs docs"
      "projects projects links links links";
    grid-gap: 0.5rem;
    background-image: url(var.$url_bg1);
    z-index: 100;

    padding: 0.5rem;

    div {
      padding: 0.5rem 1rem;
    }
    h2 {
      margin-left: 32px;
    }
    @mixin section($name: "") {
      line-height: 1.6rem;
      .title {
        font-size: 1.2em;
        font-weight: 700;
      }

      .home-#{$name} {
        background-color: $bg-content;
        grid-area: $name;

        @if ($name == "advert") {
          h2 {
            margin-left: 0px;
          }
        }

        @if ($name == "projects") {
          p {
            margin: 0px;
          }
          li {
            margin-bottom: 1rem;
          }
          a {
            text-decoration: none;
            color: lighten(var.$headline-color, 30%);
            display: block;
            margin-left: 0.8rem;
          }
          a::before {
            content: "- ";
          }
          a:hover {
            color: color.scale(
              lighten(var.$headline-color, 30%),
              $green: 50%,
              $blue: -30%
            );
          }
        }

        @if ($name== "docs") {
          font-size: 0.8rem;
          a {
            text-decoration: underline;
          }
          div {
            border: 1px outset royalblue;
            margin-bottom: 0.5rem;
            background: white;
          }
          h2 {
            margin-left: 0px;
          }
          .copyright {
            display: block;
            font-size: 0.8em;
            color: red;
            margin-top: 1em;
          }
        }

        @if ($name== "links") {
          font-size: 12px;
          h5 {
            font-size: 1.5em;
            text-decoration: underline;
          }
          .link-wrapper {
            p {
              margin: 0px;
            }
            a {
              text-decoration: underline;
            }
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
          }
          ul {
            list-style: none;
            padding: 0px;
          }
        }
      }
    }

    @each $name in $homeSections {
      @include section($name);
    }
  }
}

@media screen and (max-width: var.$breakpoint1) {
  .home-wrapper {
    .home-content-wrapper {
      .home-links {
        .link-wrapper {
          flex-direction: column;
          padding-left: 2em;
        }
      }
    }
  }
}

@media screen and (max-width: var.$breakpoint-nav) {
  @mixin mobileSection($name: "") {
    .home-#{$name} {
      font-size: 0.8rem;
      // padding-left: 0.5em;

      @if ($name== "links") {
        .link-wrapper {
          flex-direction: column;
          padding-left: 2em;
        }
      }
    }
  }

  .home-wrapper {
    .home-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      div {
        padding: 0.5em 0.8em;
      }
      grid-template-areas:
        "news"
        "advert"
        "docs"
        "projects"
        "links";
      grid-gap: 0.2rem;
      padding: 0.2rem 0px;
      @each $name in $homeSections {
        @include mobileSection($name);
      }
    }
    max-width: 100%;
    padding: 0px;
    max-width: 100%;
    padding: 0px;
  }
}
