@use "custom" as var;

#projects {
  header {
    padding: 1rem 1rem 1rem 15%;
  }
  section {
    padding: 0 15% 1rem 15%;
    .card {
      background: transparent;
      padding: 0.5rem 1rem;
      border: 0px;
      box-shadow: 0 0 3px 4px LightSteelBlue;
      transition: background-color var.$bg-transition-time;
      &:hover {
        background-color: var.$bg-color-hover-card;
      }
      h5 {
        padding: 0.5rem 1rem;
      }
      p {
        padding: 0.5rem 1rem;
        margin: 0px;
      }
    }
    .card + .card {
      margin-top: 1rem;
    }
  }
  section[class="projectsReferenses"] {
    ul {
      list-style-type: none;
    }
    div {
      span + span {
        margin-left: 1rem;
      }
    }
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 1;
    font-size: 0.8em;
    text-indent: 0em;
  }
}
